{% if breadcrumb %}
    <div class="animeTop animeStart2">    
        <div id="breadcrumb">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <a href="javascript:history.back()"><span class="icon-forward"></span> {{ "Retour"|trans }}</a>

                        <span class="delimiter">|</span>

                        {% for item in breadcrumb %}
                            {% if not loop.first %}
                                <span class="delimiter">-</span>
                            {% endif %}

                            {% if loop.last %}
                                {% if item.url %}
                                    <a class="breadcrumb-last"
                                    href="{{ item.url }}">{{ item.text|length > 50 ? item.text|slice(0, 50) ~ '...' : item.text }}</a>
                                {% else %}
                                    <span class="breadcrumb-last">{{ item.text|length > 50 ? item.text|slice(0, 50) ~ '...' : item.text }}</span>
                                {% endif %}
                            {% else %}
                                {% if item.url %}
                                    <a href="{{ item.url }}">{{ item.text|length > 50 ? item.text|slice(0, 50) ~ '...' : item.text }}</a>
                                {% else %}
                                    <span>{{ item.text|length > 50 ? item.text|slice(0, 50) ~ '...' : item.text }}</span>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
     </div>   
{% endif %}
