{{ content.field_image_page }}

<h1><a href="{{ url }}">{{ label }}</a></h3>

<div class="desc">{{ content.field_texte_page }}</div>

<div>{{ drupal_view('actualites', 'bloc') }}</div>

<div>{{ drupal_view('actualites', 'relation') }}</div>