<div id="logo">
    <a href="{{ path('<front>') }}">
        <img src="/{{ directory }}/images/logo-header-white.png" class="white" alt="MADEA CONCEPT">
        <img src="/{{ directory }}/images/logo-header-blue.png" class="blue" alt="MADEA CONCEPT">
    </a>
</div>

<div id="menu-lang">
    {{ drupal_block('selecteurdelangue') }}
</div>

<div id="open-menu" class="pointer">
    <span>{{ "Menu"|trans }}</span>

    <div class="burger">
        <span class="icon-burger"></span>
        <span class="icon-burger"></span>
        <span class="icon-burger"></span>
    </div>
</div>

<div id="menu">
    {{ drupal_menu('header') }}
</div>