<div id="messages" style="color:red;font-size:32px;">{{ page.messages }}</div>

<div class="page">
    <header>
        <a id="logo" href="/"><img src="/themes/thegobeliners/images/logo.png" alt="Logo"></a>
        <a href="{{ path('<front>') }}" class="back-home">{{ "Retour"|trans }} <span class="icon-chevron"></span></a>
    </header>

    <div class="login-bg">
        <div class="login-box themed p-3">
            <h1>{{ "Accès refusé"|trans }}</h1>

            {{ page.content }}

            <div class="password_link text-center">
                <a href="{{ url('<front>') }}">{{ "Revenir à l'accueil"|trans }}</a>
            </div>
        </div>
    </div>
</div>