<div id="messages" style="color:red;font-size:32px;">{{ page.messages }}</div>

<div class="page page-search">
    {{ page.header }}

    {{ page.breadcrumb }}

    <div class="header">
        <div class="mw1140p center">
            <h1 class="v3">{{ "Recherche"|trans }}</h1>

            <span class="line v1"></span>
        </div>
    </div>

    <section>
        <div class="mw1140p center">
            {{ page.content }}
        </div>
    </section>

    {{ page.footer }}
</div>