<div id="messages" style="color:red;font-size:32px;">{{ page.messages }}</div>

<div class="page">
    {{ page.header }}

    {{ page.breadcrumb }}

    {{ page.content }}

    {{ page.footer }}

    {{ page.crud }}
</div>